    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ROPA ONLINE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Categor&iacuteas</a>
                    </li>
                    @if(!User.IsInRole(nameof(Empleado)) && !User.IsInRole(nameof(Administrador)))
                     {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                    </li>
                     }
                        @if (User.IsInRole(nameof(Cliente)))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Carritos" asp-action="Index">Carrito</a>
                        </li>
                    }
                    </ul>
            </div>
            <div>
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="menuOpciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.FindFirstValue(ClaimTypes.GivenName) <span class="caret ml-1"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="menuOpciones">
                                @if (User.IsInRole(nameof(Rol.Cliente)))
                                {
                                    <a class="dropdown-item" asp-controller="Compras" asp-action="MisCompras">Compras</a>
                                    <a class="dropdown-item" asp-controller="Clientes" asp-action="EditMyself">Editar Perfil</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-controller="Administradores" asp-action="PanelControl">Panel de control</a>
                                }
                               
                                <hr />
                                <form method="post" asp-controller="Accesos" asp-action="Salir">
                                    <button type="submit" class="dropdown-item">
                                        Salir
                                    </button>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-primary" asp-controller="Accesos" asp-action="Ingresar">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" style="margin-left: 10px" asp-controller="Clientes" asp-action="Create">Registrarse</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
