@model IEnumerable<tp_nt1.Models.Categoria>

@{
    ViewData["Title"] = "Ropa Online";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Ropa Online</h1>
    <h3>El lugar mas cool para comprar ropa</h3>
</div>

<partial name="~/Views/Productos/_Search.cshtml" />